/* Media cell */
@media screen and (max-width: 420px) {
  .row {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  /* BLOCCO LEZIONI */
  #lezioni .row > .left,
  #lezioni .row > .right {
    width: 100%;
    margin-top: 20px;
  }

  #lezioni {
    background-color: #f2f2cd;
    padding: 20px 0;
  }

  /* BLOCCO STEPS */
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right {
    width: 100%;
    margin-top: 20px;
  }

  #steps {
    background-color: #fff;
  }

  /* BLOCCO PERCHE */
  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    width: 100%;
    margin-top: 20px;
  }

  /* COMMON */
  img {
    height: auto;
    width: 30%;
  }

  .container.grey {
    background-color: #f2f2cd;
  }
}

/* Media tablet */
@media screen and (min-width: 421px) and (max-width: 1023px) {
  .row {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
    margin-top: 0;
  }

  /* BLOCCO LEZIONI */
  #lezioni .row > .left,
  #lezioni .row > .right {
    width: 100%;
    margin-top: 20px;
  }

  /* BLOCCO STEPS */
  #steps .row > .left,
  #steps .row > .central {
    float: left;
    width: 50%;
  }

  #steps .row > .right {
    width: 100%;
  }

  /* BLOCCO PERCHE */
  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    width: 100%;
    margin-top: 30px;
  }

  img {
    width: 40%;
    height: auto;
  }
}
